section
    header.inner
        nav.container.navbar.navbar-default(role='navigation')
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#nav')
                    span.sr-only
                        | Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                h1
                    a.navbar-brand(href='/')

            div.collapse.navbar-collapse(id='nav')
                ul.nav.navbar-nav.navbar-right.social
                    li
                        a.archive(href='http://twitter.com/yriveiro', title='Archive')
                            i.fa.fa-archive
                    li
                        a.twitter(href='http://twitter.com/yriveiro', title='Twitter')
                            i.fa.fa-twitter
                    li
                        a.facebook(href='', title='Facebook')
                            i.fa.fa-facebook-square
                    li
                        a.rss(href='http://marca.es', title='RSS')
                            i.fa.fa-rss