doctype html
html(lang='pt-PT')
    head
        include _partial/head
    body
        include _partial/nav

        section#content
            block content

        include _partial/footer
        include _partial/scripts